h1
{
	color : red;
}

.rem
{
	margin-left : 5px;
	background-color : white;
	color : red;
	float: right;
	border : none;
	cursor : pointer;
}

.todolists{
	width: 50%;
	padding: 10px;
	background-color: blue;
}