*
{
	list-style-type: none;
	text-decoration: none;
}

h1
{
	color : red;
}

.rem
{
	margin-left : 5px;
	background-color : white;
	color : red;
	float : right;
	border : none;
	cursor : pointer;
	border-radius: 10px;
}

.todolists
{
	width : 50%;
	padding : 10px;
	background-color : blue;
	margin: 10px;
	border-radius: 10px;
}